* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e2f; /* Azul marino oscuro */
    color: #ffffff; /* Texto blanco */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #00ffc3; /* Color cian para el título */
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: #cccccc;
}
